<div class="bg bf-banner d-flex justify-content-around w-100 pt-5">
    <div class="left-side">
        <div class="description">
            <p class="text">
               <span> Business For Africa </span>vous offre des services innovants pour développer vos activités en Afrique
            </p>
            
        </div>
        <div class="Auth">
            <div class="login">
                <span>Login</span>
            </div>
            <div class="register">
                <span>S'inscrire</span>
            </div>
        </div>

    </div>
    <div class="banner">
        <img src="../../../assets/banner.png">
    </div>
    <div>

    </div>
</div>