.bg {
    background-color: #DFF1FD !important;
}

.bf-banner {
    position       : relative;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding-top    : 0px !important;

    .left-side {
        width: 100%;
    }
}

.description {
    background-image: url(../../../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
}

.text {
    padding-left   : 77px;
    text-align     : justify;
    font-size      : 48px;
    text-align-last: right;
    line-height    : 52pt;
    font-family: "Futura";
    font-weight: 200;

    span{
        font-size: 48pt;
        font-family: "Futura";
        font-weight: 500;
    }
}

.Auth {
    display        : flex;
    display        : flex;
    align-items    : center;
    justify-content: start;
    height         : 100px;
    padding-left   : 50px;

}

.login {
    width           : 182.038px;
    height          : 54.2186px;
    background-color: #65B6E6;
    color           : white;
    border-radius   : 53px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    font-weight     : bold;
    margin          : 27px;

        
        span {
            font-size: 19pt;
        
    }
}

.register {
    width           : 182.038px;
    height          : 54.2186px;
    background-color: #FECC3E;
    color           : black;
    border-radius   : 53px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    font-weight     : bold;
    span {
        font-size: 19pt;
    
}
}

.banner {
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;

    img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .banner {
        display: none;
    }

    .login {

        margin: unset;
    }
}

@media (min-width: 768px) {
    .banner {
        display: flex;
    }
}

@media (max-width: 767px) {

    h2 {
        font-size: 15px;
    }

    .text {
        padding-left: 36px;
    }

    .description {
        margin: 0px;
    }

    .Auth {

        padding-left: 0px;
    }

    .login {
        width: 50%;
    }

    .register {
        width: 50%;
    }

}