<app-navbar></app-navbar>
<app-banner></app-banner>
<div class="content">
    <div class="div">
        <div class="image1">
            <img src="../../../assets/section1.png">
        </div>
        <div class="text ">
            <p class="title" id="nous"> Business for Africa </p>
            <p class="p-0 m-0"> La quatrième révolution Industrielle a transformé les acteurs et les possibilités
                d’affaires, en
                particulier après la crise du COVID19.La plateforme Business for Africa (BFA) est une plateforme
                intelligente qui a comme objectif de changer la manière dont se fait l’accès aux informations sur les
                pays africains, aux opportunités d’affaires, aux emplois, aux investissements, aux financements et au
                savoir en Afrique. La plateforme BFA est propice à l'entrée en vigueur de l'Accord de libre-échange
                continental africain (AFCTFA). </p>
        </div>

    </div>
    <div class="div">
        <div class="image2 mobile">
            <img src="../../../assets/section2.png">
        </div>
        <div class="text">
            <h4 class="title" id="prestation"> Nos prestations </h4>
            <p class="p-0 m-0">
                La plateforme Business for Africa (BFA) a comme objectif d’offrir à ses clients les meilleures
                prestations pour se développer à l’international et investir en Afrique. BFA veut être la référence et
                le principal canal du développement en Afrique des consultants/experts, des bureaux d’études, des
                entreprises, des fournisseurs, des commerçants et des investisseurs en leur proposant des prestations
                intelligentes adéquates et personnalisées. </p>
        </div>
        <div class="image2 web">
            <img src="../../../assets/section2.png">
        </div>


    </div>
    <div class="div">
        <div class="image3">
            <img src="../../../assets/Fichier 2.png">
        </div>
        <div class="text">
            <h4 class="title"> Proposition de valeur </h4>
            <p class="p-0 m-0">
                La valeur ajoutée de la plateforme pour les entreprises, les investisseurs, les commerçants et les
                experts sera à travers : <br> </p>
            <ul>
                <li>L’accès personnalisé aux opportunités d’affaires et d'emplois dès leur publication et anticiper la
                    collecte des opportunités futurs </li>
                <li>Le conseil et l’accompagnement en ligne pour préparer des offres et suivre les contrats et les
                    paiements ; </li>
                <li>Fournir des informations utiles sur les pays, leurs systèmes d’acquisition, les marchés, les
                    statistiques, etc..; </li>
                <li>Faciliter le processus d'investissement et la recherche des financements ;
                </li>
                <li>Fournir/produire des études économiques, sectorielles, des études de marchés, des études de
                    faisabilité, etc. ;
                </li>
                <li>Fournir des formations en ligne pour améliorer les connaissances et les compétences des clients pour
                    leur faciliter l’accès aux opportunités ou exporter leurs produits ; </li>
                <li>Accéder à une expertise de qualité mobilisée via la plateforme; etc…</li>

            </ul>




        </div>

    </div>
    <div class="div">
        <div class="text">
            <h4 class="title"> Nos compétences </h4>
            <p class="p-0 m-0">
                La plateforme BFA, portée par des compétences internationales, dispose d’un vaste réseau de partenaires
                et d’experts sectoriels et fonctionnels, spécialistes de l’Afrique et mobilisables au sein de la
                plateforme informatique, pour servir au mieux ses clients. Nous avons également sélectionné des experts
                possédants des expertises approfondies dans leurs secteurs et les marchés émergents africains qui vont
                faire partie de l’équipe de gestion et le conseil d’administration de la plateforme.

            </p>
        </div>
        <div class="image4 ">
            <img src="../../../assets/section4.png">
        </div>
    </div>





</div>
<div class="section2" id="offre">
    <p class="title2">
        UNE OFFRE COMPLETE
    </p>
    <div class="block">
        <div class="block-left">
            <div class="text " style="padding-bottom: 37px;">
                <p class="title"> Consultants Individuels </p>
                <p class="p-0 m-0">
                    Vous aurez accès à des listes personnalisées des consultations, des emplois et les documents. Vous
                    pouvez également monétiser votre contribution en
                    supportant des utilisateurs en ligne (à travers le chat, vidéo-conférence, les outils
                    d'apprentissage et la production des rapports). La plateforme utilise l’intelligence artificielle
                    pour mieux évaluer la pertinence de votre CV par rapport aux termes de référence des opportunités.
                </p>
            </div>
            <div class="text ">
                <p class="title">Bureaux et Entreprises </p>
                <p class="p-0 m-0">
                    Nous mettons à votre disposition des consultants de haut niveau dans tous les secteurs de
                    développement. Dans votre site personnalisé, la plateforme mettra à votre disposition des
                    informations sur les projets, les investissements, les opportunités, les pays, les marchés, les
                    secteurs, etc.. La plateforme utilise l’intelligence artificielle pour mieux soumissionner,
                    connaitre la concurrence, accéder aux prix unitaires, aux documents, etc...


                </p>
            </div>
            <div class="image">
                <img src="../../../assets/n1.png">
            </div>
        </div>
        <div class="block-right">
            <div class="text " style="padding-bottom: 37px;">
                <p class="title"> Investisseurs et Fonds </p>
                <p class="p-0 m-0 ">
                    La plateforme a pour objectif d‘accompagner vos projets pour les rendre bancables, à vous aider à
                    lever les capitaux et à accélérer la concrétisation de vos transactions. L‘outil de suivi des
                    investissements vous permettra de suivre vos investissements admis dans la plateforme. La plateforme
                    vous mettra en relation avec des experts de haut niveau pour aider à concrétiser vos opérations et
                    les investisseurs pour vous aider à lever des fonds.
                </p>
            </div>
            <div class="text ">
                <p class="title"> Banques et Assurances </p>
                <p class="p-0 m-0">
                    La plateforme vous permettra de rentrer en contact avec les bons clients pour leur fournir des
                    services bancaires et d'assurances à travers l’outil de simulation en ligne. Vous pouvez également
                    accéder à des expertises de qualité mobilisées via la plateforme. La plateforme mettra à votre
                    disposition des informations pertinentes sur les pays, les entreprises, les projets, les
                    investissements, les opportunités d’affaires, les marchés, les secteurs, etc..



                </p>
            </div>
            <div class="image">
                <img src="../../../assets/Fichier 8.png">
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>