.content {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    padding        : 40px 108px 40px 108px;

    .div {
        display        : flex;
        align-items    : end;
        justify-content: center;
        width          : 100%;
        padding-top: 111px;
        .image {
            display        : flex;
            align-items    : center;
            justify-content: center;
            width          : 50%;
            height         : 100%;
            padding: 0px 111px;


            img {
                width : 626.1204px;
                height: 424.4311px;
            }
        }

        .image1 {
            display        : flex;
            align-items    : center;
            justify-content: center;
            width          : 50%;
            height         : 100%;
            padding: 0px 111px;
            img {
                width : 626.1204px;
                height: 424.4311px;
            }
        }

        .image2 {
            display        : flex;
            align-items    : center;
            justify-content: center;
            width          : 50%;
            height         : 100%;
            padding: 0px 111px;
            img {
                width : 567.5604px;
                height: 368.6283px ;
            }
        }

        .image3 {
            display        : flex;
            align-items    : center;
            justify-content: center;
            width          : 50%;
            height         : 100%;
            padding: 0px 111px;
            img {
                width        : 747.2196px;
                // margin-bottom: 81px;
                height       : 809.7901px;
            }
        }

        .image4 {
            display        : flex;
            align-items    : center;
            justify-content: center;
            width          : 50%;
            height         : 100%;
            padding: 0px 111px;
            img {
                width : 610.2603px;
                height: 473.6034px;
            }
        }

        .text {
            width          : 49%;
            float          : right;
            display        : flex;
            justify-content: flex-end;
            flex-direction : column;
            text-align     : justify;
            text-align-last: left;
            line-height    : 43pt;
            padding-left: 111px;
            p {
                text-align  : justify;
                text-justify: inter-word;
                font-family : 'FuturaBook';
                font-size   : 30pt;

            }

            ul {
                padding-left: 14px;

                li {
                    text-align  : justify;
                    text-justify: inter-word;
                    font-family : 'FuturaBook';
                    font-size   : 30pt;
                }
            }

            .title {
                color      : #65B6E6;
                font-size  : 48pt;
                font-family: 'FuturaMedium';

            }
        }
    }

}

.section2 {
    background-image: url(../../../assets/bghome.png) !important;
    padding-top     : 80px;
    padding-bottom  : 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;

    .title2 {
        color          : #65B6E6;
        text-align     : center;
        font-size  : 48pt;
        font-family: 'FuturaMedium';
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .title2::before {
        content: '';
        width: 511.3639px;
        border-bottom: 3.3px solid #65b6e6;
        position: absolute;
        bottom: 0;
    }

    .block {
        display: flex;

        .block-left {
            width          : 49%;
            float          : right;
            display        : flex;
            justify-content: flex-end;
            flex-direction : column;
            text-align     : justify;
            text-align-last: left;
            line-height    : 43pt;
            padding: 0 111px;

            p {
                text-align  : justify;
                text-justify: inter-word;
                font-family : 'FuturaBook';
                font-size   : 30pt;

            }

            .title {
                color      : #65B6E6;
                font-size  : 48pt;
                font-family: 'FuturaMedium';
            }


            .image {
                display        : flex;
                justify-content: center;

                img {
                    width : 584.9786px;
                    height: 389.2994px;
                    ;
                }
            }
        }

        .block-right {
            width          : 49%;
            float          : right;
            display        : flex;
            flex-direction : column;
            text-align     : justify;
            text-align-last: left;
            line-height    : 43pt;
            padding: 0 111px;

            p {
                text-align  : justify;
                text-justify: inter-word;
                font-family    : 'FuturaBook';
                font-size      : 30pt;
            }
            
                .title {
                    color      : #65B6E6;
                font-size  : 48pt;
                font-family: 'FuturaMedium';
                }
            

            .image {
                display        : flex;
                justify-content: center;
                position: relative;

                img {
                    width: 801.6363px;
                    height: 540.1002px;
                    position: absolute;
                    top: 71px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .section2 .block .block-left .image img {
        width: 100%;
    }

    .section2 .block .block-right .image img {
        width: 100%;
    }

    .section2 .block {
        display       : flex;
        flex-direction: column !important;
    }

    h2 {
        font-size: 15px;
    }

    .text {
        padding-left: 36px;
    }

    .content .div .text {
        width  : 100%;
        padding: 0px;
    }

    .section2 .block .block-left .text {
        width  : 100%;
        padding: 0px;
    }

    .section2 .block .block-right .text {
        width  : 100%;
        padding: 0px;
    }

    .content .div {
        display        : flex;
        align-items    : center;
        justify-content: center;
        flex-direction : column;
    }

    .content .div .image1 img {
        width : 100%;
        height: 100%;
    }

    .content .div .image1 {
        width         : 100%;
        padding       : 0px;
        padding-bottom: 20px;
    }

    .content .div .image2 img {
        width : 100%;
        height: 100%;
    }

    .content .div .image2 {
        width         : 100%;
        padding       : 0px;
        padding-bottom: 20px;
    }

    .content .div .image3 img {
        width        : 100%;
        height       : 100%;
        margin-bottom: 29px;
    }

    .section2 {
        padding-top: 55px;
    }

    .content .div .image3 {
        width  : 100%;
        padding: 0px;
    }

    .content .div .image4 img {
        width : 100%;
        height: 100%;
    }

    .content .div .image4 {
        width         : 100%;
        padding       : 0px;
        padding-bottom: 20px;
        padding-top   : 20px;
    }

    .block-right {
        padding-top: 40px;
    }

    .section2.block .block-right .image {
        display        : flex;
        justify-content: center;
        padding-top    : 24px;
    }
}