.footer {
    background-color: #65B6E6;
    position        : relative;
    height          : 214.4255px;
    display:flex;
    align-items    : center;
    justify-content: center;

    .social {
        display        : flex;
        align-items    : center;
        justify-content: end;
        width          : 100%;
        position       : absolute;
        padding-right: 100pt;

        .images {
            img {
                height : 68px;
                margin: 5px;
                        }
        }
    }

    .text {
        width          : 100%;
        display        : flex;
        align-items    : center;
        justify-content: center;

        p {
            color: white;
        }
    }
}

@media (max-width: 767px) {
    .footer {

        flex-direction: column;
    }

    .footer .text {
        width          : 125%;
        display        : flex;
        align-items    : center;
        justify-content: center;
        padding        : 8px;
    }
}