<div class="footer">
    <div class="text">
        <p class=" p-0 m-0">BFA. All Rights Reserved 2021 © </p>

    </div>
    <div class="social">
        <div class="images">
            <img src="../../../assets/social/f.png">
            <img src="../../../assets/social/in.png">
            <img src="../../../assets/social/yt.png">
        </div>
    </div>
</div>