.bg {
    background-color: #DFF1FD !important;
}

.logo {
    width : 343.2597px;
    height: 128.7309px;
}

.bf-navbar {
    position: relative;

    .icons .lang {
        .circle {
            width          : 27px;
            height         : 27px;
            border-radius  : 50%;
            background     : #0CB3C0;
            display        : flex;
            align-items    : center;
            justify-content: center;
            margin         : 1px;

            .text {
                font-size: 10px;
                color    : white;
            }
        }

    }

    .icons .media {
        .circle {
           
            border-radius  : 50%;
            display        : flex;
            align-items    : center;
            justify-content: center;
            margin         : 1px;
        }
    }

    .items {
        .item {
            color       : #1D1D1B;
            font-size   : 27pt;
            margin-right: 20px;
            cursor: pointer;
            font-family: "FuturaBook";
        }
    }
}

@media (max-width: 767px) {
    .items {
        padding: 15px;
    }

    .icons {
        flex-direction: column;
    }
    .side-nav{
        display: none !important;
    }

    .btn-menu {
        display: block !important;
    }
    .bf-navbar .items .item {
        color: #1D1D1B;
        font-weight: 600;
        font-size: 19px;
        margin-right: 20px;
    }
    .mobile-items {
        display: block !important;
        background: #64b6e6;
        position: absolute;
        top: 75px;
        right: 0;
        width: 288px;

    }
    .logo{
        width: 210.8406px;}
        .lang{
            padding-bottom: 10px;
        }
        .media{
            padding-bottom: 10px;
        }
}

@media (min-width: 768px) {
    .items {
        display: flex;
        align-items: flex-start;
    
    }

    .side-nav{
        display: flex !important;
        justify-content: space-around;
        width: 60%;
    }

    .btn-menu {
        display: none !important;
    }
}

@media (max-width: 830px) {
    .bf-navbar .items span {
        font-size: 10px;
    }

}