
<div class="bg bf-navbar d-flex justify-content-around w-100 pt-5">
    <div class="logo">
        <img class="navbar-brand logo" src="../../../assets/logo.png" />
    </div>
    <div  class="side-nav" [ngClass]="isCollapsed? 'mobile-items': 'not-mobile' ">
        <div class="items">
            <div class="item" [routerLink]="['/']" fragment="nous">Qui sommes nous</div>
            <div class="item" [routerLink]="['/']" fragment="prestation">Nos prestations</div>
            <div class="item"[routerLink]="['/']" fragment="offre">Nos offres</div>
        </div>
        <div class="icons d-flex align-items-center">
            <div class="lang d-flex justify-content-center align-items-center">
                <div class="circle" style="background-color: #F7A500;"><span class="text">AR</span></div>
                <div class="circle" style="background-color: #85CDD7;"><span class="text">EN</span></div>
                <div class="circle" style="background-color: #036B95;"><span class="text">FR</span></div>
                <div class="circle" style="background-color: #0CB3C0;"><span class="text">AR</span></div>
            </div>
            <div class="media ml-2  d-flex justify-content-center align-items-center">
                <div class="circle"><img src="../../../assets/in.png"></div>
                <div class="circle"><img src="../../../assets/fb.png"></div>
                <div class="circle"><img src="../../../assets/ytb.png"></div>
            </div>
        </div>
    </div>
    <div class="btn-menu d-flex align-items-center" (click)="openMenu()">

        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 172 172"
            style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#000000">
                    <path
                        d="M14.33333,35.83333v14.33333h143.33333v-14.33333zM14.33333,78.83333v14.33333h143.33333v-14.33333zM14.33333,121.83333v14.33333h143.33333v-14.33333z">
                    </path>
                </g>
            </g>
        </svg>

    </div>

</div>