/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Futura';
    src        : url(../src/assets/fonts/FuturaPTBold.otf);
    src        : url(../src/assets/fonts/FuturaPTBoldOblique.otf);
    src        : url(../src/assets/fonts/FuturaPTCondBold.otf);
    // src: url(../src/assets/fonts/FuturaPTCondBoldOblique.otf);
    src        : url(../src/assets/fonts/FuturaPTCondBook.otf);
    // src: url(../src/assets/fonts/FuturaPTCondBookOblique.otf);
    src        : url(../src/assets/fonts/FuturaPTCondExtraBold.otf);
    // src: url(../src/assets/fonts/FuturaPTCondExtraBoldOblique.otf);
    src        : url(../src/assets/fonts/FuturaPTCondMedium.otf);
    src        : url(../src/assets/fonts/FuturaPTCondMediumOblique.otf);
    src        : url(../src/assets/fonts/FuturaPTDemi.otf);
    src        : url(../src/assets/fonts/FuturaPTDemiOblique.otf);
    src        : url(../src/assets/fonts/FuturaPTExtraBold.otf);
    // src: url(../src/assets/fonts/FuturaPTExtraBoldOblique.otf);
    src        : url(../src/assets/fonts/FuturaPTHeavy.otf);
    // src: url(../src/assets/fonts/FuturaPTHeavyOblique.otf);
    src        : url(../src/assets/fonts/FuturaPTLight.otf);
    // src: url(../src/assets/fonts/FuturaPTLightOblique.otf);
    src        : url(../src/assets/fonts/FuturaPTMedium.otf);
    // src: url(../src/assets/fonts/FuturaPTMediumOblique.otf);


}

@font-face {
    font-family: 'FuturaBook';
    src        : url(../src/assets/fonts/FuturaPTBook.otf);
}

@font-face {
    font-family: 'FuturaMedium';
    src        : url(../src/assets/fonts/FuturaPTMedium.otf);
}
@font-face {
    font-family: 'FuturaLight';
    src        : url(../src/assets/fonts/FuturaPTLight.otf);}


body,
html {
    font-size  : 16pt;
    font-family: Futura;
}

p {
    font-family: Futura;

}

span {
    font-family: Futura;

}



li {
    font-family: FuturaBook;
}

@media (max-width: 767px) {
    .mobile {
        display: block !important;
    }

    .web {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .mobile {
        display: none !important;
    }

    .web {
        display: block !important;
    }
}